* {
  font-family: 'Raleway', sans-serif;
  color:#fff;
  margin: 0;
  /*padding: 0;*/
  background-color:#202020;
  box-sizing:border-box;
}
body {
  display: block;
  justify-content: center;
  margin:0 auto; 
  max-width:840px;
  font-size:12pt;
}
h1 {
  color:#fff;
  font-weight: bolder;
  /*background-color: #666666;*/
  margin-bottom: 2px;
  padding: 0.5rem;
}
#comments {    /* REVISAR PARA QUITAR*/
  /*background-color:turquoise;*/
  padding: 5px 5px;
}

.feedback{ /* REVISAR PARA QUITAR*/
  display: flex;
  position: relative;
}

.container {
  height: 500px;
  width: 900px;
  border: 1px solid yellow;
  padding: 10px;
  margin-top: 5px;
  align-items: center;

  border-radius: 3px;
}
#createPost {
  display:flex; 
  position: relative;
  /*bottom: 0;  */  
  justify-content: space-between;
  align-items: bottom;
  margin-top: 0;
  border: 3px solid orangered;
}
#txtCom {
  width: 535px;
}
#usrCom{
  width: 180px;
}
input {
  margin: 5px 5px 5px 0;
  border-radius: 3px;
}


#myEdit {
  width: 900px;
  border: 3px solid cyan;
}
#editDiv {
  display:flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.yourReply {   /* REVISAR PARA VER SI SE QUITA*/
  display : flex;
  justify-content: space-between;
  align-items: bottom;
  margin-top: 0;
}

#name {   /* OK */
  margin-left: 5px;
  width: 8rem;
}
#userComment { /* OK */
  width: 42rem;
}
  
#send { /* OK -------cambiar color*/   /* REVISAR PARA VER SI SE QUITA*/
  background-color: darkslategray;
  color: lightskyblue;
  font-weight: bolder;
  border-radius: 3px;
  margin: 2px;
  cursor: pointer;
}
  
#output {
  max-width: 250px;
}

#muestrate{   /* REVISAR PARA QUITAR*/
  cursor: pointer;
}

.username {
  position:absolute;
  top:-1.5em;
  left:0;
  margin-left:2rem;
  font-weight:bold;
  width: 250px;
}

#avatar {
  background-image: url("/Users/Family/Desktop/W6D4/avatar.png");
  position: block; 
  max-width:3rem; 
  max-height:3rem; 
  border:2px solid #AAA;
  border-radius:1.5rem; 
  top:-0.5rem; 
  left:-0.5rem;
}
#delete, #edit {
  cursor: pointer;
  display : flex;
  justify-content: space-between;
  align-items: top right;
  margin-top: 0;
}

.comment {
  /*background-color: #AAA;*/
  position:block; 
  margin-top: 0.5em;
  border:2px solid #AAA;
  border-radius: 0.25em; 
  font-size:10pt;
}
.comment p {
  /*background-color: transparent;*/
  display: flex;
  flex-direction: row;
  color: green;
  font-weight: bolder;
  margin-left: 3rem;
}
.row {
  border:2px solid green;
  
}

#postBody {
  font-size: 25px;
  font-weight: bolder;
}